@charset "UTF-8";
$black_000: #000000;
$black_00253F: #00253f;
$darkcyan_008891: #008891;
$darkgray_9d9d9d: #9d9d9d;
$firebrick_C51A1B: #c51a1b;
$firebrick_c51a1b: #c51a1b;
$mediumseagreen_26D691: #26d691;
$teal_20828F: #20828f;
$white_FFF: #ffffff;
$white_fff: #ffffff;
$whitesmoke_F7F7F7: #f7f7f7;
